body{
    margin: 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #303131 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4, h6, p{
    color: aliceblue !important;
}
p{
    width: 100%;
}
.home {
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgba(160, 180, 189, 0.8);
    color: black;
    margin-bottom: .5rem;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.home:hover{
    background-color: rgb(223, 239, 253);
}

.box{
    padding: 5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(63, 183, 235, 0.2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px, rgba(0, 0, 0, 0.23) 0px 2px 4px;
    -webkit-backdrop-filter: saturate(180%) blur(2px);
    backdrop-filter: saturate(180%) blur(2px);
}

form{
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input_style{
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 98%;
}

img{
    border-radius: 1rem;
    display: block;
    max-width:30rem;
    max-height:20rem;
    width: auto;
    height: auto;
}
.loading{
    width: 64px;
    height: 64px;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    cursor: wait;
    display: none;
}

.pred{
    width: 100%;
    display: none;
}